@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;

    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #6e6e6e;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #6e6e6e;
}

.btn {
    &:focus {
        box-shadow: unset !important;
    }
}

.btn-secondary {
    border: none !important;

    &:focus {
        box-shadow: unset !important;
    }
}

.primary-btn {
  min-width: 150px !important;
  color: $white !important;
  background-color: $cloud-burst !important;

  &:hover {
    opacity: .8;
    color: $black !important;
    background-color: $white !important;
  }

  &:active {
    color: $black !important;
      background-color: $white !important;
  }

  &:focus {
    color: $black !important;
      background-color: $white !important;
  }
}

.warning-btn {
  min-width: 150px !important;
  color: $white !important;
  background-color: $cream-brulee !important;

  &:hover {
    opacity: .8;
    color: $cream-brulee !important;
    background-color: $white !important;
  }

  &:active {
    color: $cream-brulee !important;
      background-color: $white !important;
  }

  &:focus {
    color: $cream-brulee !important;
      background-color: $white !important;
  }
}

.danger-btn {
  min-width: 150px !important;
  color: $white !important;
  background-color: $froly !important;

  &:hover {
    opacity: .8;
    color: $froly !important;
    background-color: $white !important;
  }

  &:active {
    color: $froly !important;
      background-color: $white !important;
  }

  &:focus {
    color: $froly !important;
      background-color: $white !important;
  }
}

.tooltip-inner {
    min-width: 300px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
